body {
    margin: 0 auto;
    max-width: 45em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    word-break: keep-all;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    & > th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    & > th {
        background-color: #f2f2f2;
    }
}
