.pql-description {
    margin-bottom: 1rem;
}

.form-param {
    margin: 0.4rem 0;

    & > label {
        display: inline-block;
        width: 6rem;
    }
}

#query-input {
    width: 24rem;
}

#plot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
}

.tick > line {
    color: #ccc;
}
