.form-param {
    margin: 0.5rem 0;
    & label {
        display: inline-block;
        width: 8rem;
        font-weight: bold;
    }
}

svg {
    flex: 1;
    width: 100%;
    border: 1px solid;
    margin: 1rem 0;
    max-height: 700px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
