.form-param {
    margin: 0.5rem 0;
    & label {
        display: inline-block;
        width: 8rem;
        font-weight: bold;
    }
}

svg {
    flex: 1;
    width: 100%;
    border: 1px solid;
    margin: 1rem 0;
    max-height: 700px;
    & .node {
        & rect {
            stroke: #333;
            fill: #a9deff;
        }
        & .label {
            & label {
                font-weight: 700;
            }
            & p {
                margin: 5px 0;
            }
        }
    }
    & .authoritative rect {
        fill: #8df5b0;
    }
    & .edgePath path {
        stroke: #333;
        fill: #333;
        stroke-width: 1.5px;
    }
}

#tooltip {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 3px 0 rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 8px 8px;
}
