.param-label {
    display: inline-block;
    width: 8rem;
    text-align: left;
}

#editor {
    border-style: solid;
    border-width: 1px;
    margin: 0.5rem 0;
    width: 100%;
    height: 20rem;
    resize: vertical;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}
