.form-param {
    margin: 0.5rem 0;
    & label {
        display: inline-block;
        min-width: 7rem;
        margin-right: 1rem;
        font-weight: bold;
    }
}

#table-preview-container > .table-preview {
    overflow-x: auto;
    margin-bottom: 1rem;
}

#query-input {
    border-style: solid;
    border-width: 1px;
    margin: 0.5rem 0;
    height: 5rem;
    resize: vertical;
}

#plot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    & > .card {
        background: #f6f6f6;
        padding: 1rem;
        border: solid 1px #dfe0e0;
        border-radius: .75rem;
        & > svg rect {
            opacity: 0.7;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#tooltip {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 3px 0 rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 8px 8px;
    & > ul.tooltip-card {
        list-style: none;
        margin: 0;
        padding: 0.2rem;
        & > li {
            padding: 0.2rem;
            & > label {
                font-weight: 600;
                &::after {
                    content: ":";
                }
            }
        }
    }
}
