<!DOCTYPE html>
<html lang="en">
<head>
    <title>Devtools</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Handy tools for software development." />
    <meta name="author" content="Joey Shi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
    <h1>Joey's Devtools</h1>
    <p>A collection of handy tools used to assist in some common problems in web development.</p>
    <ul>
        <li><a href="/webhook">Webhook Debugger</a></li>
        <li><a href="/jdtt">JSON Schema Transcompiler</a></li>
    </ul>
    <p>If you find any of these tools useful, consider <a href="https://www.buymeacoffee.com/joeyshi12">buying me a pizza</a></p>
</body>
</html>
