<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webhook</title>
    <meta charset="UTF-8" />
    <meta name="description" content="A webhook debugging tool." />
    <meta name="author" content="Joey Shi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/webhook.css"/>
</head>
<body>
<h1>Webhook Debugger</h1>
<p>Send requests to <code>/webhook/capture</code> and this page will display the request body, headers, and cookies.</p>
<ul class="request-list">
{% for request in history|reverse %}
    <li class="request-info">
        <table>
            <tbody>
                <tr>
                    <td>{{request.method}}</td>
                    <td>{{request.url}}</td>
                </tr>
                <tr>
                    <td>Cookies</td>
                    <td>
                        <ul class="td-list">
                        {% for key, value in request.cookies.items() %}
                            <li>{{key}} = {{value}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Request headers</td>
                    <td>
                        <ul class="td-list">
                        {% for key, value in request.headers.items() %}
                            <li>{{key}} = {{value}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Request body</td>
                    <td>{{request.body}}</td>
                </tr>
            </tbody>
        </table>
    </li>
{% endfor %}
</ul>
</body>
</html>
