{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/csv_vis.css">
{% endblock %}

{% block breadcrumbs %}
    <li>CSV visualizer</li>
{% endblock %}

{% block content %}
    <div class="description">
        <p>A tool for generating plots from CSV data.</p>
        <p>Plotting is done by writing a query in a DSL I made: <a href="https://github.com/joeyshi12/pql-parser">Plot Query Language</a>.</p>
    </div>
    <div class="form-param">
        <label>CSV file</label>
        <input id="csv-input" type="file" autocomplete="off">
    </div>
    <div id="file-preview"></div>
    <div class="form-param">
        <label>PQL query</label>
        <div id="query-input"></div>
        <button id="query-button">Plot</button>
        <button id="save-button" disabled autocomplete="off">Save</button>
    </div>
    <div id="plot-container"></div>
    <script src="/static/js/runtime.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/csv_vis.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
