<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSV Visualizer</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Joey Shi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/csv_vis.css"/>
</head>
<body>
    <h1>CSV Visualizer</h1>
    <a href="/">Return to homepage</a>
    <div class="pql-description">
        <p>A tool for generating plots from CSV data. Plotting is done by writing a query in a DSL I made: <a href="https://github.com/joeyshi12/pql-parser">Plot Query Language</a>.</p>
    </div>
    <div class="pql-form">
        <div class="form-param">
            <label>CSV file</label>
            <input id="csv-input" type="file" autocomplete="off">
        </div>
        <div class="form-param">
            <label>PQL query</label>
            <input id="query-input" type="text">
            <button id="query-button">Plot</button>
            <button id="save-button" disabled autocomplete="off">Save</button>
        </div>
    </div>
    <div id="file-preview"></div>
    <div id="plot-container"></div>
    <script src="/static/js/csv_vis.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
