{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/dns_vis.css">
{% endblock %}

{% block breadcrumbs %}
    <li>DNS visualizer</li>
{% endblock %}

{% block content %}
    <p>A DNS lookup visualization tool for tracing the search path for an iterative query.</p>
    <div class="form-param">
        <label>Domain:</label>
        <input id="domain" type="text" />
        <button id="lookup-button">Lookup</button>
    </div>
    <svg><g/></svg>
    <div id="tooltip"></div>
    <script src="/static/js/runtime.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/dns_vis.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
