{% extends "base.html" %}

{% block content %}
    <p>A collection of handy tools I've developed to solve some common problems I've encountered in web development.</p>
    <ul class="tool-list">
        <li>
            <a href="/webhook">
                <div>
                    <label>Webhook tester</label>
                    <p>An intermediary for inspecting request contents from webhooks.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/jdtt">
                <div>
                    <label>JSON data type transcompiler</label>
                    <p>Python CLI tool and library for generating data type models for given JSON objects.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/csv_vis">
                <div>
                    <label>CSV visualizer</label>
                    <p>A query-based 2D data visualization generator, powered by a custom DSL parsing library.</p>
                </div>
            </a>
        </li>
    </ul>
{% endblock %}
