<!DOCTYPE html>
<html lang="en">
<head>
    <title>JSON Schema Data Type Transcompiler</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Tool for converting a JSON object into data type schemas for other languages." />
    <meta name="author" content="Joey Shi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/jdtt.css"/>
</head>
<body>
    <h1>JSON Schema Transcompiler</h1>
    <div>
        <p>Converts JSON Schema data types to other languages.</p>
        <p>This service is a wrapper for a Python library I made: <a href="https://github.com/joeyshi12/json-data-type-transcompiler">jdtt</a></p>
    </div>
    <form id="jdtt-form" action="/jdtt/transcompile" method="POST" target="_blank">
        <div>
            <label class="param-label">Target Language</label>
            <select name="targetLanguage">
                <option value="PYTHON">Python</option>
                <option value="SCALA">Scala</option>
                <option value="TYPESCRIPT">TypeScript</option>
            </select>
        </div>
        <div>
            <label class="param-label">Detect Dates</label>
            <input type="checkbox" name="detectDates" checked />
        </div>
        <div>
            <h3>JSON Object</h3>
            <div id="editor"></div>
            <input id="schema-input" type="hidden" name="schemaText" />
        </div>
        <div class="form-footer">
            <input type="submit" value="Submit" />
            <button id="fullscreen-button" type="button">Full Screen</button>
        </div>
    </form>
    <script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jdtt.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
