<!DOCTYPE html>
<html lang="en">
<head>
    <title>JSON Visualizer</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Joey Shi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/jdtt.css"/>
</head>
<body>
    <h1>JSON Visualizer</h1>
    <a href="/">Return to homepage</a>
    <p>Bruhh</p>
    <input type="file" id="json-file">
</body>
</html>
