<!DOCTYPE html>
<html lang="en">
<head>
    <title>JSON Visualizer</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Joey Shi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
    <h1>JSON Visualizer</h1>
    <a href="/">Return to homepage</a>
    <div>
        <label>JSON file</label>
        <input id="file-input" type="file">
    </div>
    <div>
        <label>Query</label>
        <input id="query-input" type="text">
    </div>

    <script src="/static/js/json_vis.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
