{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/webhook.css">
{% endblock %}

{% block breadcrumbs %}
    <li>Webhook tester</li>
{% endblock %}

{% block content %}
    <p>Send requests to</p>
    <code>https://devtools.joeyshi.xyz/webhook/{{webhook_id}}/capture</code>
    <p>and this page will display the request body, headers, and cookies.</p>
    <div>
        <button id="clear-captures-button">Clear captures</button>
    </div>
    <ul class="request-list">
    {% for request in history|reverse %}
        <li class="request-info">
            <table>
                <tbody>
                    <tr>
                        <td>{{request.method}}</td>
                        <td>{{request.url}}</td>
                    </tr>
                    <tr>
                        <td>Request headers</td>
                        <td>
                            <ul class="td-list">
                            {% for key, value in request.headers.items() %}
                                <li>{{key}} = {{value}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Request body</td>
                        <td>{{request.body}}</td>
                    </tr>
                </tbody>
            </table>
        </li>
    {% endfor %}
    </ul>
    <script>
        document.getElementById("clear-captures-button").onclick = () => {
            fetch("/webhook/{{webhook_id}}", { method: "DELETE" }).then(() => {
                window.location.href = "/webhook"
            });
        };
    </script>
{% endblock %}
